<center>          
<u><b><h1> All Articles Detials</h1></b></u>


<table>
<thead>
     <tr>
     <th>Title</th>
     <th>Description</th>
     <th>Actions</th>
      </tr>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.text %></td>
        <td><%= article.description %></td>
        <td>Placeholder</td>
      </tr>
    <% end %>





</thead>
<tbody>



</tbody>







</table>












</center>